<p>carousel-test works!</p>
<div class="container-fluid" style="width:fit-content;">
<ngb-carousel *ngIf="images">
<ng-template ngbSlide>
    <div class="picsum-img-wrapper">
       <!-- <img [src]="images[0]" alt="Random first slide">-->
        <img src="../../assets/images/1.jpg.jpg" alt="Random first slide">
    </div>
    <div class="carousel-caption">
<h3>First Slide Label</h3>
<p>This is first image</p>
    </div>
</ng-template>


        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <!-- <img [src]="images[1]" alt="Random Second slide"> -->
                <img [src]="images[1]" alt="Random Second slide">
            </div>
            <div class="carousel-caption">
        <h3>Second Slide Label</h3>
        <p>This is Second image</p>
            </div>
        </ng-template>

       
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img [src]="images[2]" alt="Random third slide">
                    </div>
                    <div class="carousel-caption">
                <h3>Third Slide Label</h3>
                <p>This is Third image</p>
                    </div>
                </ng-template>
</ngb-carousel>
</div>